//Compass
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";

//Normalize
@import "normalize";

//Layout grid.
@import "susy";

//Spacing
@import "base/spacing";
@import "base/variables";
@import "base/mixins";
@import "base/grid";
@import "base/atomcss";

@import "modules/common";
@import "modules/header";
@import "modules/footer";

.content{
	@extend %page-container;

	&__topic{
		margin-top:20px;
	}

	&__spot{
		margin-top:20px;
	}

	&__hot{
		margin-top:20px;
	}

	&__advantage{
		margin-top:20px;
	}

	&__foobanner{
		margin-top:100px;
	}
}

.foot-banner{
	width:100%;

	&__img{
		width: 100%;
	}
}

.package-text{
	@include inline-block();
	font-size: 24px;
	font-weight: 500;
	line-height: 50px;
	height: 50px;
	margin: 0px 10px 0px 48px;

	&__small{
		font-size: $font-size-sm;
		color: #bababa;
		margin-left: 5px;
	}
}

.package-more{
	@include inline-block();
	@include link();

	font-size: $font-size-xs;
	color:#999;
	position:absolute;
	right:10px;
	top:20px;

	&:hover{
		color:#f94b4b;
	}
}

.package-icon{
	&--hot{
		background: image-url('index/hot-icon01.png') no-repeat center left;
	}

	&--spot{
		background: image-url('index/hot-icon02.png') no-repeat center left;
	}

	&--topic{
		background: image-url('index/hot-icon03.png') no-repeat center left;
	}

	&--4reason{
		background: image-url('index/hot-icon04.png') no-repeat center left;
	}
}


.package{
	&__title{
		border-bottom: 1px solid #dfdfdf;
	}

	&__body{
		width: 100%;
		margin-top: 20px;
	}
}

.advantage{
	@include container();

	&__img{
		float: left;
		margin-right: 20px;
		width: 62px;
		height: 62px;
	}

	&__title{
		padding:0px;
		margin: 0px;
		font-size: $font-size-sm;
		color:#333;
	}

	&__content{
		margin: 0px;
		font-size: $font-size-xs;
		width: 94%;
		color:#666;
	}

}

.index-grid{
	@include container();

	&__span-2{
		@include span(4 of 16);

		&--last{
			@include span(4 of 16 last);
		}
	}
}

.index-spot{
	@include link();
	display:block;
	background-color: #f8fafb;
	border: 1px solid #dfdfdf;

	&__img{
		width: 100%;
		height: 160px;

		>img{
			width: 100%;
			height: 100%;
		}
	}

	&__title{
		@include inline-block();
		width: 100%;
		margin: 0px;
		line-height: 36px;
		height:36px;
		color: #fff;
		background-color: #333;
	}

	&__desc{
		width: 94%;
		margin: 0px auto;

		>p{
			height: 42px;
		}
	}

	&:hover{
		@include box-shadow(0 0 10px rgba(157, 157, 157, 0.5));
	}
}


.hot-desc{
	height:105px;

	&__title{
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 14px;
		color:#333;
	}

	&__comment{
		margin:5px 0px 5px 0px;
				
		>.tag--out{
			font-size:$font-size-xs;
			padding:0px;
			margin:0px;
			background : none;
		}
	}

	&__text{
		font-size:$font-size-xs;
	}
}

.index-hot{
	@include link();
	display:block;
	background-color: #f8fafb;
	border: 1px solid #dfdfdf;

	&__img{
		width: 100%;
		height: 160px;

		>img{
			width: 100%;
			height: 100%;
		}
	}

	&__desc{
		width: 94%;
		margin: 0px auto;
	}

	&__price{
		margin: 0px auto;
		line-height: 30px;
		width: 94%;

		>.tag--out{
			padding:0px;
			margin:0px;
			background : none;
			font-size:16px;
		}

		>.del{
			color:#999;
		}
	}

	&:hover{
		@include box-shadow(0 0 10px rgba(157, 157, 157, 0.5));
	}
}

.topic-title{

	&__title{
		display: block;
		font-weight: 700;
		font-size: 18px;
		color:#fff;
	}

	&__subtitle{
		display: block;
		font-weight: 700;
		font-size: 24px;
		color:#fff;
	}

}

.index-topic{
	@include link();
	display:block;
	position:relative;

	&__img{
		width: 100%;
		height: 160px;

		>img{
			width: 100%;
			height: 100%;
		}
	}

	&__title{
		font-weight: 700;
		color:#fff;
		position:absolute;
		left:10px;
		top:50%;
		margin-top:-24px;
	}

}

.advertise{
	@include clearfix();

	&__screen{
		position:relative;
		left:0px;
		top:0px;
		background: #fff image-url('index/banner1.png') no-repeat center center;
		width: 100%;
		height: 400px;
	}

	&__ctrlbar{
		position: relative;
		left: 0px;
		top: 50%;
		margin-top : -25px;
	}

	&__circlebar{
		position: relative;
		left: 0px;
		top: 85%;
		text-align: center;
	}

}

.topic-bg{
	background-color : #f0f4f4;
}

.circlebar{
	&__item{
		@include inline-block();
		margin-left: 5px;
		margin-right: 5px;
		height: 20px;
		width: 20px;

		>a{
			@include inline-block();
			@include opacity(0.5);
			@include link();
			@include border-radius(50%);
			height: 100%;
			width: 100%;
			background-color: #fff;

			&:hover{
				background-color:$page-color;
			}
		}

	}

}

.ctrlbar{
	@include inline-block();

	&__btn,
	&__btn--left,
	&__btn--right{
		@include opacity(0.5);
		position:absolute;
		height: 50px;
		width: 50px;

		>a{
			@include inline-block();
			width: 100%;
			height: 50px;
		}

		&:hover{
			@include opacity(0.9);

			background-color:$page-color;
		}
	}

	&__btn--left{
		top: 0px;
		left:0px;
		background: #333 image-url('index/btn-left.png') no-repeat center center;
	}

	&__btn--right{
		top: 0px;
		right: 0px;
		background: #333 image-url('index/btn-right.png') no-repeat center center;
	}

}

.pop-menu-d{
	@include inline-block();
	width:86px;
	text-align:center;
}

.pop-menu{
	position:absolute;
	background-color:#fff;
	width:100px;
	left:280px;
	top:35px;
	border:1px solid #ededed;

	&__item{
		@include link();
		display:block;
		width:80%;
		line-height: 36px;
		height:36px;
		text-align: center;
		font-size:$font-size-sm;
		margin:0px auto;

		&:hover{
			border-bottom:4px solid $page-color;
		}
	}

}