//Compass
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography";

//Normalize
@import "normalize";

//Layout grid.
@import "susy";

//Spacing
@import "base/spacing";
@import "base/variables";
@import "base/mixins";
@import "base/grid";
@import "base/atomcss";
@import "base/font-size";

@import "modules/common";
@import "modules/header";
@import "modules/footer";

.content{
	@extend %page-container;
	margin-top:36px;
}

.route{
	@include container;
	@include link();
	display:block;
	border:1px solid #dfdfdf;

	&__img{
		@include span(6 of 10);
	}

	&__desc{
		@include span(4 of 10 last);
	}

	&--theme1{
		padding:5px;
		&:hover{
			@include box-shadow(0 0 10px rgba(157, 157, 157, .5));
		}
	}
}

.route-img{
	&__1img{
		line-height: 0px;

		>img{
			width: 100%;
		}
	}

	&__3img{
		@include container;

		&--left{
			@include span(24 of 36);

			>img{
				width: 100%;
				height:301px;
			}
		}

		&--right{
			@include span(12 of 36 last);

			>.img{
				>img{
					width: 100%;
					height:148px;
				}
			}
		}
	}
}

.route-desc{
	&__header{
		&--theme1{
			> p{
				color:#666;
			}
		}
	}

	&__content{
		&--default,&--theme1{
			border-top:1px dashed #dfdfdf;
		}

		&--theme1{
			.tag-line{
				color:#666;
				line-height: 40px;
			}
		}
	}
}

.tag-line{
	&--default{
		@include inline-block-list();
	}
}


.route-filter{
	&__cond,
	&__tags,
	&__result{
		line-height: 36px;
		border-bottom:1px solid #ededed;

		>.title{
			font-size:$font-size-md;
			color:#333;
		}
	}
}

.route-order{
	&__tags{
		line-height: 80px;
		height: 80px;

		>.title{
			font-size:$font-size-md;
			color:#333;
		}

		.tag--divider{
			border-left: 1px solid #dfdfdf;
			padding-top:0px;
			padding-bottom:0px;

			&.active{
				color : $tag-color;
			}
		}
	}
}

.pagebar{
	@extend %page-container;
	text-align:center;
	margin-top:55px;
}

.pagination{
	@include pagination();
}